language: php

php:
  - 7.1
  - 7.2
  - 7.3

matrix:
  include:
  - php: 7.0
    env: COMPOSER_FLAGS="--prefer-lowest"
  - php: 7.1
    env: COMPOSER_FLAGS="--prefer-lowest"

before_script:
  - travis_retry composer self-update
  - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction --prefer-source

script:
  - vendor/bin/phpunit tests/
